<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Shop Name </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">image </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>image ......</li>
                    <li>............</li>
                    <li>............</li>
                    <li> loading ...</li>
                </ul>
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Shop Name</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">image </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>image ......</li>
                    <li>............</li>
                    <li>............</li>
                    <li> loading ...</li>
                </ul>
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Shop Name</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">image </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>image ......</li>
                    <li>............</li>
                    <li>............</li>
                    <li> loading ...</li>
                </ul>
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
        </div>
    </div>